body, html{
  width:100vw;
  height:100vh;
  margin:1% 0;
  background:black;
  color:white;
}
label{
  margin-top:100px;
  background:green;
  padding:4%;
  color:white;
}
img {
  width:80%;
  height:80%;
}
.img-con {
  display:flex;
  justify-content:center;
  align-items:center;
}
input[type="range"]{
  width:80vw;
  height:4vh;
}
.center {
  text-align:center;
  width:100%;
}
button{
  border:none;
  padding:2%;
  width:5rem;
  margin-top:1%;
  background:#00bba6;
  color:white;
}
button:hover, .btn-active{
background:#dd00a2;
outline:none;
}
input[type="range"] {
-webkit-appearance: none;
width: 80%;
height: 10px;
border-radius: 5px;  
background: #ffffff;
outline: none;
opacity: 0.7;
-webkit-transition: .2s;
transition: opacity .2s;
}

input[type="range"]::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width:20px;
height: 20px;
border-radius: 50%; 
background: #00ffd6;
cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
width:20px;
height: 20px;
border-radius: 50%;
background: #00ffd6;
cursor: pointer;
}
canvas{
  position:fixed;
  z-index:-9999;
  bottom:-100000px;
}
#social-icons i{
  font-size: 1.5rem;
  margin: 2vw;
  color:#00bba6;
}

footer a, footer i{
  font-size: 1.2rem;
  margin: 2vw;
}
footer *{
  color:white;
}
#downloadIcon {
  font-size:1.2rem;
  padding:1rem;
  background:#00bba6;
}